# Block folders that MCP generates 
logs/
reobf/
temp/
bin/
conf/
docs/
eclipse/
jars/
lib/
*.bat
*.sh

# Block compiled Python
*.pyc

# Block downloaded files
runtime/*

# Block .idea folder
.idea/*

# Block .iml files
*.iml